* {
  margin: 0;
  padding: 0;
}

.container {
  display: grid;
  grid-template-rows: 1fr 0.5fr 5fr 0.5fr;
  grid-template-columns: 1fr, 4fr;
  grid-template-areas:
    'header header'
    'sidebar nav'
    'sidebar article'
    'footer footer';
  gap: 4px;
  height: 100vh;

  text-align: center;
}

.container div {
  padding: 15px;
  font-size: 32px;
  font-family: Helvetica;
  font-weight: bold;
  color: white;
}

.header {
  grid-area: header;
  display: grid;
  grid-template-columns: 1fr 3fr;
  /* grid-template-rows: 1fr; */

  background-color: #393f4d;
}

.logo {
}

.menu {
}

.menu ul {
  display: grid;
  grid-template-columns: repeat(4, 1fr);
  grid-template-areas: 'link-one' 'link-two' 'link-three' 'link-four';
  white-space: nowrap;
}

.menu li:first-child {
  grid-area: link-one;
  margin-left: 5rem;
}

.menu ul,
.menu li {
  font-size: 16px;
  list-style: none;
}

.sidebar {
  grid-area: sidebar;

  display: grid;
  grid-template-rows: repeat(4, 1fr);
  gap: 50px;

  background-color: #ff7755;
}

.sidebar .photo {
  background-color: white;
  color: black;
  font-size: 12px;
  font-weight: normal;
  border-radius: 10px;
}

.photo {
}

.sidebar .side-content {
  background-color: white;
  color: black;
  font-size: 16px;
  font-weight: normal;
}

.nav {
  grid-area: nav;

  background-color: #ff7755;
}

.nav ul {
  display: grid;
  grid-template-columns: repeat(3, 1fr);
}

.nav ul li {
  font-size: 16px;
  text-transform: uppercase;
  list-style: none;
}

.article {
  display: grid;
  grid-template-columns: repeat(auto-fit, minmax(250px, 1fr));
  gap: 15px;

  grid-area: article;
  background-color: #bccbde;
}

.article p {
  font-size: 18px;
  font-family: sans-serif;
  color: white;
  text-align: left;
}

.article .card {
  background-color: #ffffff;
  color: black;
  text-align: center;
}

.card p {
  color: black;
  font-weight: normal;
  font-size: 14px;
}

.card .title {
  font-size: 18px;
  text-align: center;
}

.footer {
  grid-area: footer;
  background-color: #393f4d;
}

.footer p {
  font-size: 13px;
  font-weight: normal;
}
